body{


}


.border{
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;

}

.a{
    width: 340px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
}

.b{
    width: 245px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 5px;



}


.c{
    width: 85px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 5px;

}

.block{
    display: block;

}

.flex{
    display: flex;

}

.box {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5em 3.5em 3.5em 3.5em;
    border-color: transparent transparent transparent black;
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
}

.border-mini{
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;


}

.a-mini{
    width: 90px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 5px;

}

.b-mini{
    width: 90px;
    height: 90px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 5px;

}

.c-mini{
    width: 90px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 5px;

}


.part1{
    display: flex;
}

.part2{
    display: flex;

}

.border2{
    width: 350px;
    height: 195px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;




}

.a2{
    width: 340px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 5px;

}

.b2{
    width: 244px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left:5px ;


}

.c2{
    width: 77px;
    height:75px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 7px;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 5px;
}

.d{
    width: 75px;
    height:75px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-right: 9px;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 25px;
}

.e{
    width: 75px;
    height:75px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 5px;
}

.column{
    display: flex;

}

.f{
    width: 87px;
    height: 130px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    bottom: 140px;
    left: 250px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 5px;


}

.box2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5em 3.5em 3.5em 3.5em;
    border-color: transparent transparent transparent black;
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
}


.border-mini2{
    width: 100px;
    height: 187px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px;
}

.a3{
    width: 90px;
    height: 25px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;

}

.b3{
    width: 90px;
    height: 75px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;

}

.mini-column{
    display: flex;

}

.c3 , .d2 ,.e2 {
    width: 22px;
    height: 25px;
    background-color: cadetblue;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;

}

.f2{
    width: 90px;
    height: 25px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;

}


.border3 {
    width: 350px;
    height: 181px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;



}

.a4{
    width: 340px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 0px;

}


.b4 , .c4 , .d3 , .e3 , .f3 , .g2 {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 0px;

}

.column-top1{
    display: flex;

}

.column-bottom1{
    display: flex;

}

.bottom {
    display: block;

}

.top{
    display: block;

}



.h1{
    height: 110px;
    width: 155px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    left: 190px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 5px;
}

.box3{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5em 3.5em 3.5em 3.5em;
    border-color: transparent transparent transparent black;
    margin-top: 50px;
    margin-left: 15px;
    display: flex;

}

.border-mini3{
    width: 200px;
    height: 166px;
    border: 1px solid black;
    border-radius: 5px;

}

.a5{
    width: 90px;
    height: 25px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}

.a6 , .b5 , .c5 , .d4 ,.e4 , .f4 {
    width: 22px;
    height: 25px;
    background-color: cadetblue;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;

}

.column-top3 {
    display: flex;

}

.column-bottom5 {
    display: flex;

}
.h3{
    width: 90px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 5px;

}
